.text-pressure-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
}

.text-pressure-title {
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  font-weight: 100;
  width: 100%;
}

.text-pressure-char {
  display: inline-block;
}

.text-pressure-flex {
  display: flex;
  justify-content: space-between;
}

.text-pressure-stroke span {
  position: relative;
}

.text-pressure-stroke span::after {
  content: attr(data-char);
  position: absolute;
  left: 0;
  top: 0;
  color: transparent;
  z-index: -1;
  -webkit-text-stroke-width: 3px;
}
